:root {
    --bs-primary: #140455;
    --bs-primary-rgb: 20, 4, 85;
  
    --bs-secondary: #DBB600;
    --bs-secondary-rgb: 219, 182, 0;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #11023f !important; /* optional darker shade */
    border-color: #11023f !important;
}

.btn-secondary {
    background-color: var(--bs-secondary) !important;
    border-color: var(--bs-secondary) !important;
    color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #ac9000 !important; /* optional darker shade */
    border-color: #DBB600 !important;
}